@import 'checks'

table.rights
    margin-top: 15px
    font: 20px/30px $qz-serif
    -webkit-font-smoothing: antialiased

    th
        border-bottom: 1px solid $qz-gray-1
        vertical-align: bottom

    td.check
        padding: 5px 10px 5px 10px

        &.yes
            [type="checkbox"].highlight:disabled:not(:checked) + label:before,
            [type="checkbox"].highlight:disabled:checked + label:before
                background-color: $qz-gray-1

        &.no
            [type="checkbox"].highlight:disabled:not(:checked) + label:before,
            [type="checkbox"].highlight:disabled:checked + label:before
                background-color: $qz-purp-1

    td.label, th.label
        padding-left: 10px
        white-space: nowrap

    td.response, th.response
        display: none
        width: 100%
        text-align: left
        padding-left: 10px

        div.wrap
            width: 75%

            div.fill
                background-color: $qz-gray-1;
                height: 30px
                float: left

        div.pct
            margin-left: 3px
            float: left

qz-button-group()

button.score
    margin-top: 20px

.your-results
    display: none

@media only screen and (max-width 600px)
    table.rights, table.results
        font: 14px/22px $qz-serif;

        td.response
            width: 60%

            div.wrap
                display: none

            div.pct
                text-align: right
